Source: golang-github-presbrey-magicmime
Section: devel
Priority: extra
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Uploaders: Markus Sabadello <markus@projectdanube.org>
Build-Depends: debhelper (>= 9),
               dh-golang,
               golang-go,
               libmagic-dev
Standards-Version: 3.9.6
Homepage: https://github.com/presbrey/magicmime
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-go/packages/golang-github-presbrey-magicmime.git
Vcs-Git: git://anonscm.debian.org/pkg-go/packages/golang-github-presbrey-magicmime.git
XS-Go-Import-Path: github.com/presbrey/magicmime

Package: golang-github-presbrey-magicmime-dev
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         golang-go,
         libmagic-dev
Description: Golang bindings for libmagic to detect mime-types.
 magicmime is a Go package which allows you to discover a file's
 mimetype by looking for magic numbers in its content. It could be used
 as a supplementary for Go's mime (http://golang.org/pkg/mime/) package
 which only interprets the file extension to detect mimetypes. Internally,
 it implements libmagic(3) (http://linux.die.net/man/3/libmagic) bindings.
 .
 Tested on Linux and Mac OS X, should be working on BSD. You could be able
 to build and make it working with Cygwin on Windows.
